 biblio.aux
        chap1.aux
        chap2.aux
        chap3.aux
        chap4.aux
        chap5.aux
        contents.aux
        cover.aux
        main.aux
        main.glg
        main.glo
        main.gls
        main.glsdefs
        main.ist
        main.lof
        main.log
        main.pdf
        main.synctex.gz
        out/

